<% include ./partials/header.ejs %>
  <div class="w-full min-h-screen py-5 text-white bg-zinc-900 fulldiv">
    <div class="absolute z-20 flex items-center justify-between w-full px-1">
      <img class="w-1/4" src="/images/logo.png" alt="">
      <div class="flex items-center gap-5 -mt-2 icons">
        <i class="text-[1.4rem] ri-heart-3-line"></i>
        <i class="text-[1.4rem] ri-messenger-line"></i>
      </div>
    </div>
    
    <div class="flex gap-3 px-3 mt-10 overflow-auto storyshow">
      <div class="flex-shrink-0 circle">
        <% if(user.stories.length == 0){ %>
          <div class="gradient w-[18vw] h-[18vw] bg-sky-100 rounded-full flex items-center justify-center relative">
            <div class="inner w-[92%] h-[92%] rounded-full overflow-hidden">
              <img id="<%= user._id %>" class="object-cover w-full h-full cursor-none" src="/images/uploads/<%= user.profileImg %>" alt="">
            </div>
            <a href="#"><i class="ri-add-fill bg-blue-500 text-[5vw] rounded-[50%] text-white absolute -bottom-[2%] -right-[2px]"></i></a>
          </div>  
        <% } else { %>
          <div class="w-[18vw] h-[18vw] bg-sky-100 rounded-full gradient bg-gradient-to-r from-purple-700 to-orange-500 flex items-center justify-center">
            <div class="inner w-[92%] h-[92%] rounded-full overflow-hidden">
            <img id="<%= user._id %>" class="object-cover w-full h-full cursor-none" src="/images/uploads/<%= user.profileImg %>" alt="">
            </div>
          </div>
        <% } %>
      </div>
      
      <% var uniqueUserIds = [] %>
      <% story.forEach(function(elem){ %>
        <% if(!uniqueUserIds.includes(elem.user._id)){ %>
          <% if(user.following.indexOf(elem.user._id) === -1){ %>
            <% return %>
            <% }else{ %>
              
              <div class="flex-shrink-0 circle -mr-[10vw]">
                <div class="gradient w-[18vw] h-[18vw] bg-sky-100 rounded-full bg-gradient-to-r from-purple-700 to-orange-500 flex items-center justify-center">
                  <div class="inner w-[92%] h-[92%] rounded-full overflow-hidden">
                    <img id="<%= elem.user._id %>" class="object-cover w-full h-full"
                      src="/images/uploads/<%= elem.user.profileImg %>"
                      alt="">
                  </div>
                </div>
              </div> 
  
              
          <% } %>
      <% uniqueUserIds.push(elem.user._id); %>
      <% }else{return} %>
      <% }) %>

      
      
    </div>

    
    <div class="mb-20 posts parent">
      <% posts.reverse().forEach(function(post){ %>
        <div class="post mt-10 w-full min-h-[50vh]">
          <div class="flex items-center gap-2 px-4 title">
            <div class="w-[9vw] h-[9vw] bg-sky-100 rounded-full overflow-hidden">
              <img src="/images/uploads/<%= post.user.profileImg %>" alt="">
            </div>
            <h4 class="text-sm">
              <%= post.user.username %>
            </h4>
            <h6 class="text-xs opacity-30">
              <%= dater(new Date(post.date)) %>
            </h6>
          </div>
          <div class="relative w-full mt-4 overflow-hidden h-96 bg-sky-100">
            <img data-postid="<%= post.id %>" class="object-cover w-full h-full postimg"
              src="/images/uploads/<%= post.picture %>" alt="">
          </div>
          <div class="options w-full px-4 flex justify-between items-center text-[1.4rem]">
            <div class="flex gap-3 mt-2">
              <% if(post.likes.indexOf(user._id)=== -1){ %>
                <i class="heart ri-heart-3-line"></i>
                <% } else { %>
                  <i class="text-red-500 heart ri-heart-3-fill"></i>
                  <% } %>
                    <i class="ri-chat-3-line"></i>
                    <i class="ri-share-circle-line"></i>
            </div>
            <% if(user.saved.indexOf(post.id) === -1){ %>

              <i id="<%= post.id %>" class="saved ri-bookmark-line"></i>
              <% }else{ %>
                <i id="<%= post.id %>" class="saved ri-bookmark-fill"></i>

              <%  } %>

          </div>
          <h3 class="px-4 mt-2 text-sm leading-none tracking-tight likeval">
            <%= post.likes.length %> likes
          </h3>
          <h2 class="mt-2 text-sm font-light text-white">
            <span class="pl-4 pr-2 font-semibold">
              <%= post.user.username %>
            </span>
            <%= post.caption %>
          </h2>
        </div>
        <% }) %>
    </div>


    <div class="story-container w-[100vw] h-[100vh] hidden z-30 absolute top-0 left-0">
      <div class="absolute top-0 left-0 z-50 w-full h-2 overflow-hidden rounded-full bg-gray-300/40">
        <div id="progress" class="h-[2vh] bg-gradient-to-r from-purple-700 to-orange-500 transition-all ease-linear "></div>
      </div>
      <img class="storyimage w-full h-[90vh] object-cover bg-red-900" src="" alt="">
      <div class="story-nav mt-2 absolute top-0 left-0 w-full h-[10vh]  flex items-center justify-start p-6 ">
        <div class="image-con w-[60px] h-[60px] rounded-full border-2 border-white bg-white overflow-hidden">
          <img class="object-cover w-full h-full storydp" src="" alt="">
        </div>
        <h3 class=" storyusername ml-2 text-[18px] font-bold text-white">nMaaaa</h3>
        <h3 class="storytime ml-3 text-[18px]  font-thin text-white">10s</h3>

      </div>
      <div class="bottom-nav bg-zinc-900 px-[15px] w-full h-[7vh] absolute left-0 bottom-[6vh]">
      <i class="text-[10vw] ri-heart-line absolute right-[10%] strylike"></i>
      </div>
    </div>

    
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    function formatRelativeTime(date) {
      const now = new Date();
      const diff = now - date;

      // Convert milliseconds to seconds
      const seconds = Math.floor(diff / 1000);

      if (seconds < 60) {
        return `${seconds}s`;
      }

      const minutes = Math.floor(seconds / 60);

      if (minutes < 60) {
        return `${minutes}m`;
      }

      const hours = Math.floor(minutes / 60);

      if (hours < 24) {
        return `${hours}h`;
      }

      const days = Math.floor(hours / 24);

      if (days < 7) {
        return `${days}d`;
      }

      const weeks = Math.floor(days / 7);

      return `${weeks}w`;
    }

    document.querySelector(".parent")
      .addEventListener("click", function (dets) {
        if (dets.target.classList.contains("postimg")) {
          var post = dets.target.parentNode.parentNode;
          var heartwithborder = post.querySelector(".heart");
          if (heartwithborder.classList.contains("ri-heart-3-line")) {
            heartwithborder.classList.remove("ri-heart-3-line")
            heartwithborder.classList.add("ri-heart-3-fill")
            heartwithborder.classList.add("text-red-500")
            // heartwithborder.style.color = "red";
          }
          else {
            heartwithborder.classList.remove("ri-heart-3-fill")
            heartwithborder.classList.remove("text-red-500")
            heartwithborder.classList.add("ri-heart-3-line")
          }
          fetch(`/like/${dets.target.dataset.postid}`)
            .then(raw => raw.json())
            .then(response => {
              console.log(response.likes.length);
              post.querySelector(".likeval").textContent = response.likes.length + " likes"
            })
        
            var icon = document.createElement("i");
            icon.classList.add("ri-heart-3-fill");
            icon.classList.add("text-red-700", "text-6xl", 'absolute', 'top-1/2', 'left-1/2', '-translate-x-[50%]', '-translate-y-[50%]', 'z-[9]');
            dets.target.parentNode.appendChild(icon);
            
            gsap.from(icon, {
              scale: .5,
              y: 30,
              opacity: 0,
              ease: Expo,
              duration: .3
            })

            gsap.to(icon, {
              scale: 0,
              y: -30,
              opacity: 0,
              duration: .3,
              ease: Expo,
              delay: .3,
              onComplete: ()=>{
                dets.target.parentNode.removeChild(icon);
              }
            })
          }
      })

      // ------------------------story ------------------------

function displayStory() {   
  document.querySelector(".storyshow").addEventListener("click", function(dets){
    var data = dets.target.id; 
    fetch(`/story/${dets.target.id}`)
    .then(raw => raw.json())
    .then(userModel => {
      const stories = userModel.stories;
      // Function to display a story
      async function displayNextStory(index) {
        const currentStory = stories[index];
        // Display user information
        document.querySelector(".storyusername").innerHTML = userModel.username;
        document.querySelector(".storydp").setAttribute('src', `/images/uploads/${userModel.profileImg}`);
        // Display current story information
        document.querySelector('.strylike').id = currentStory._id
        await document.querySelector(".storyimage").setAttribute('src', `/images/uploads/${currentStory.picture}`);
        document.querySelector(".story-container").style.display = "initial";
        document.querySelector('.storytime').innerHTML = `${formatRelativeTime(new Date(currentStory.date))}`;
        document.querySelector(".story-container").addEventListener("click", function(){
          console.log("Clicked")
        });
      progress();
      // Hide story container after 5 seconds
      setTimeout(async function() {
        document.querySelector(".story-container").style.display = "none";
        // Display next story if available
        if (index + 1 < stories.length) {
          await displayNextStory(index + 1);
        }
      }, 3000);
      progress(index);
      document.querySelector(".story-container").addEventListener("click", function(){
        index = stories.length
      });
    }
    // Start displaying stories
    displayNextStory(0);
    

    })
    .catch(error => {
      console.error("Error fetching story:", error);
    });
});
  
}displayStory()

      // Simulate progress
    function progress() {
    let progress = 0;
    const progressBar = document.getElementById('progress');
    const interval = setInterval(() => {
        progress += 2;
        progressBar.style.width = `${progress}%`;
        if (progress >= 99) {
            clearInterval(interval);
      }
  }, 50);
}

// -----------------------story like-------------------------------

document.querySelector('.strylike').addEventListener('click', function(dets){
  fetch(`/storylike/${dets.target.id}`)
  .then(raw => raw.json())
  .then(response => {
    console.log(response);
    if (dets.target.classList.contains("ri-heart-line")) {
      dets.target.classList.remove("ri-heart-line","text-zinc-900")
      dets.target.classList.add("ri-heart-fill","text-red-600")


    var icon = document.createElement("i")
    icon.classList.add("ri-heart-fill","text-white-200","text-8xl","drop-shadow-lg","absolute","top-1/2","left-1/2","-translate-x-[50%]","-translate-y-[50%]","z-[90]")
    dets.target.parentNode.parentNode.appendChild(icon)


    gsap.from(icon,{
        scale: 0,
        opacity: 0,
        duration: 0.4,
        ease: "power4.out",
        y: 20
      })
    gsap.to(icon,{
      scale: 0,
      opacity: 0,
      delay: 0.6,
      duration: 0.4,
      ease: "power4.out",
      y: -20,
      onComplete:function(){dets.target.parentNode.contains(icon) && target.parentNode.removeChild(icon)},
    })

    }
    else {
      dets.target.classList.remove("ri-heart-fill", "text-red-600")
      dets.target.classList.add("ri-heart-line","text-white")
    }
  })
})

// --------------------------saved----------------------------
document.querySelector('.posts').addEventListener('click', function(e){

  console.log(e.target.id)
  if (e.target.classList.contains('saved')) {
    if (e.target.classList.contains('ri-bookmark-line')) {

      e.target.classList.remove('ri-bookmark-line');
      e.target.classList.add('ri-bookmark-fill','text-white');
    }
    else{
      e.target.classList.add('ri-bookmark-line');
        e.target.classList.remove('ri-bookmark-fill','text-white');
    }

    fetch(`/saveposts/${e.target.id}`)
    .then(raw => raw.json())
    .then(Response => {
      console.log(response);
    })
  }
});
// ------------------------------------------------------
      
  </script>


  <% include ./partials/footer.ejs %>